@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&subset=latin-ext');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #92bde7;
    color: rgb(75, 83, 90);
    line-height: 1.6;
    font-family: 'Roboto Mono', monospace;
}
.from-container{
    width: 70vw;
    min-height: 60vh;
    background-color: #f9feff;
    margin: 0 auto;
    box-shadow: 14px 13px 42px 1px rgba(0,0,0,0.65);
}
header{
    margin-top: 10vh;
    text-align: center;
}
header h1{
    color: rgb(84, 94, 104);
}
header span{
    color: #eee;
}
.personal-data{
    width: 100%;
    background:#c9e6ff;
    text-align: center;
}
.personal-data h2{
    margin: 0;
}
.personal-data ul{
    padding: 0;
    margin: 0;
}
.personal-data li{
    padding: 2px;
    list-style: none;
    font-size: 14px;
    cursor: pointer;
}
.contact-form
{
    display: flex;
   flex-direction: column;
}
.main-form h3{
    margin-left: 50px;
    margin-bottom: 0;
}
.contact-form label{
    display: block;
}
.flex-item{
    display: flex;
    justify-content: space-around;
}
.flex-item-column{
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}
.contact-form p{
    margin: 15px;
    width: 50%;
}
.contact-form .full{
    margin: 15px;
    width: 100%;
}
.contact-form input{
    height: 30px;
}
.contact-form input,textarea{
    width: 100%;
    display: block;
    margin: 0 auto;
}
.contact-form button{
    width: 100%;
    height: 40px;
    background-color: #92bde7;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(75, 83, 90);
}
.contact-form button:hover{
    background-color: #a3dff9;
}

@media only screen and (max-width: 480px){
    header{
        margin-top: 1vh;
    }
    h1{
        margin: 0;
        
    }
    h2{
        display: none;
    }

    .from-container{
        width: 95vw;
        background-color: #f9feff;
        margin: 0 auto;
        box-shadow: 14px 13px 42px 1px rgba(0,0,0,0.65);
    }
}
@media only screen and (max-width: 320px){

    .flex-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        
    }
    .flex-item p{
        width: 100%;
        
    }
    
}